flows.json
[{"id":"36babd0c.e82192","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"e565e291.742c5","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":360,"wires":[["d76f191f.e5bb88"]]},{"id":"ac1339.19759cc8","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["d76f191f.e5bb88"]]},{"id":"d76f191f.e5bb88","type":"function","z":"36babd0c.e82192","name":"","func":"msg.payload = NaN == NaN;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[[]]}]
