flow.json
[{"id":"36babd0c.e82192","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"9988ecde.15e58","type":"tab","label":"Поток 2","disabled":false,"info":""},{"id":"46468d7d.7bd5f4","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":100,"wires":[["210262af.03c2ee"]]},{"id":"210262af.03c2ee","type":"debug","z":"36babd0c.e82192","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"1df9e2f6.5c832d","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":160,"wires":[["210262af.03c2ee"]]},{"id":"a96df948.229e08","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":240,"wires":[["210262af.03c2ee"]]},{"id":"f25dfc.dcd2e208","type":"inject","z":"9988ecde.15e58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["21478571.59aa4a","7480c5c5.3a7d8c","abdae9f1.f674d8"]]},{"id":"21478571.59aa4a","type":"debug","z":"9988ecde.15e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":120,"wires":[]},{"id":"7480c5c5.3a7d8c","type":"debug","z":"9988ecde.15e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":180,"wires":[]},{"id":"abdae9f1.f674d8","type":"debug","z":"9988ecde.15e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":240,"wires":[]},{"id":"e565e291.742c5","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":360,"wires":[["ba8c682a.c1ff18"]]},{"id":"ba8c682a.c1ff18","type":"function","z":"36babd0c.e82192","name":"","func":"msg.payload = NaN == NaN;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["210262af.03c2ee"]]},{"id":"729dcf79.000dc","type":"http in","z":"36babd0c.e82192","name":"","url":"/github","method":"get","upload":false,"swaggerDoc":"","x":260,"y":460,"wires":[["eba9a1d9.eb122","75df30fd.bd619"]]},{"id":"75df30fd.bd619","type":"http response","z":"36babd0c.e82192","name":"","statusCode":"","headers":{},"x":540,"y":500,"wires":[]},{"id":"eba9a1d9.eb122","type":"debug","z":"36babd0c.e82192","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]},{"id":"61b4dd09.5dbaa4","type":"http in","z":"36babd0c.e82192","name":"","url":"/github","method":"post","upload":false,"swaggerDoc":"","x":250,"y":520,"wires":[["eba9a1d9.eb122","75df30fd.bd619"]]}]
