flows.json
[{"id":"5d85881.a40f478","type":"tab","label":"Flow 1"},{"id":"e7426cf6.4e002","type":"inject","z":"5d85881.a40f478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":236,"y":111,"wires":[["5d4e5d20.e67eb4"]]},{"id":"14ecc77f.46e179","type":"inject","z":"5d85881.a40f478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":217,"y":151,"wires":[["5d4e5d20.e67eb4"]]},{"id":"d9831a54.820cf8","type":"inject","z":"5d85881.a40f478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":208,"y":195,"wires":[["5d4e5d20.e67eb4"]]},{"id":"5d4e5d20.e67eb4","type":"debug","z":"5d85881.a40f478","name":"","active":true,"console":"false","complete":"false","x":433,"y":141,"wires":[]}]
