flows.json
[{"id":"36babd0c.e82192","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"e565e291.742c5","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":360,"wires":[["d76f191f.e5bb88"]]},{"id":"ac1339.19759cc8","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["d76f191f.e5bb88"]]},{"id":"d76f191f.e5bb88","type":"function","z":"36babd0c.e82192","name":"","func":"msg.payload = NaN == NaN;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[[]]},{"id":"1ac91c7c.712114","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":140,"wires":[["9efbab6f.2c4da8","d1f9b13.4dbcd5"]]},{"id":"9efbab6f.2c4da8","type":"debug","z":"36babd0c.e82192","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":140,"wires":[]},{"id":"d1f9b13.4dbcd5","type":"debug","z":"36babd0c.e82192","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":200,"wires":[]}]
