flow.json
[{"id":"36babd0c.e82192","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"46468d7d.7bd5f4","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":100,"wires":[["210262af.03c2ee"]]},{"id":"210262af.03c2ee","type":"debug","z":"36babd0c.e82192","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"1df9e2f6.5c832d","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":160,"wires":[["210262af.03c2ee"]]},{"id":"a96df948.229e08","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":240,"wires":[["210262af.03c2ee"]]},{"id":"e565e291.742c5","type":"inject","z":"36babd0c.e82192","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":360,"wires":[["ba8c682a.c1ff18"]]},{"id":"ba8c682a.c1ff18","type":"function","z":"36babd0c.e82192","name":"","func":"msg.payload = NaN == NaN;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["210262af.03c2ee"]]}]
